@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: azure; */
  }

.welcome-page {
    text-align: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .login-options {
    display: flex;
    justify-content: center;
    margin-top: 250px;
  }
  
  .login-square {
    width: 450px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
    background-color: rgb(10, 10, 101);
    color: white;
    font-size: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 3px solid transparent;
    border-color: black;
    border-radius: 20px;
  }
  
  .login-square:hover {
    background-color: azure;
    color: rgb(10, 10, 101);
    border: 10px solid transparent;
    border-color: rgb(10, 10, 101);
    font-weight: bold;
  }
  
  .login-square .wel-icon {
    margin-top: 15px;
  }
  /* .student {
    background-color: #2196F3;
  }
   */
  /* .student:hover {
    background-color: #1e88e5;
  } */
  
  /* .teacher {
    background-color: #f44336;
  }
  
  .teacher:hover {
    background-color: #e53935;
  } */
  