@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* html, body {
  height: 100%;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.student-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(227, 238, 233);
  min-height: 100vh;
  min-width: 100vw;
}

.student-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(10, 10, 101);
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.student-header h1 {
  margin: 0;
  font-size: 18px;
}

.student-header a {
  color: #ffffff;
  text-decoration: none;
  padding: 8px 16px;
}

.student-header a:hover {
  text-decoration: underline;
}

.cr-container {
  width: 100%;
  min-height: 92vh;
  display: flex;
  flex-direction: row;
}

.assi-bar {
  padding: 20px;
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.assi-bar h2 {
  font-size: 20px;
}

.assi-bar ul {
  list-style-type: none;
  padding: 0;
}

.assi-bar li {
  padding: 10px;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.assi-bar li:hover {
  background-color: #ddd;
  transform: scale(1.02);
}

.tests-bar {
  padding: 20px;
  width: 20%;
  
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  /* min-height: 100vh; */
}

.tests-bar h2 {
  font-size: 20px;
}

.tests-bar ul {
  list-style-type: none;
  padding: 0;
}

.tests-bar li {
  padding-top: 18px;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.tests-bar button{
  margin-top: 20px;
  background-color: rgb(10, 10, 101);
  color: #fff;
  /* width: 90%; */
  height: 30px;
  border-radius: 10px;
}

.tests-bar .test-icon{
  margin-top: 4.5px;
}

.upload-compile {
  /* width: 60%; */
  /* padding: 30px; */
  display: flex;
  flex-direction: column;
  min-width: 60vw;
  /* align-items: center; */
}

.upload-compile h2 {
  margin: 20px;
}

.up-header {
  background: #fff;
  width: 100%;
}

.upload-compile button{
  width: 20%;
  align-self: center;
  background-color: rgb(10, 10, 101);
}

/* .upload-area {
  width: 100%; 
  height: 40%;
  align-self: center;
  margin-left: 120px;
  padding-left: 80px;
} */