/* Home.css */
.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 20%;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e0e0e0;
  padding: 10px 20px;
}
.sidebar h4 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 0;
  cursor: pointer;
}

.sidebar li:hover {
  background-color: #537390;
}
.homework-info {
  display: flex;
  gap: 20px;
}

.logo {
  font-weight: bold;
  font-size: 24px;
}

.upload-area {
  margin-top: 20px;
  border: 2px dashed #ccc;
  padding: 30px;
  text-align: center;
}

.compile-output {
  margin-top: 20px;
  background-color: #e0e0e0;
  padding: 10px;
  border-radius: 5px;
}

.compilation-status span.success {
  color: #28a745; /* Green color for success */
}

.compilation-status span.error {
  color: #dc3545; /* Red color for errors */
}

.compilation-output {
  margin-top: 10px; /* Optional: Adds some space between status and output */
}


/* Button Basic Style */
.button {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  box-shadow: 0 6px #999;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Button Hover & Active State */
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Disabled Button Style */
.button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
  box-shadow: none;
}
.file-upload-container {
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  border: 2px dashed #007bff;
  border-radius: 10px;
  background-color: #f8f9fa;
}

.file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file-input-label {
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  display: inline-block;
  padding: 12px 30px;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  text-align: center;
  vertical-align: middle;
  user-select: none; /* This will prevent the text within the button from being selectable, enhancing the button-like appearance */
}

.file-input-label:hover,
.file-input-label:focus {
  background-color: #0056b3;
  outline: none; /* Removes outline on focus for browsers that show one */
  box-shadow: 0 4px 8px rgba(0,123,255,0.5); /* Slight shadow for depth */
}

.file-input-label:active {
  transform: scale(0.98); /* Mimic a button press */
}
.file-name {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
  word-wrap: break-word; /* Ensures the filename wraps and does not overflow the container */
}
