@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.teacher-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(227, 238, 233);
  min-height: 100vh;
  min-width: 100vw;
}

.teach-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(10, 10, 101);
  color: white;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.teach-header h1 {
  margin: 0;
  font-size: 18px;
}

.teach-header button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #ffffff;
  text-decoration: none;
  display: inline;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 8px 16px;
}

.teach-header button:hover {
  text-decoration: underline;
}

.teach-header .teach-header-icon{
  margin-right: 65px;
}

.teach-header a:hover {
  text-decoration: underline;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 300px;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card-header {
  background-color: rgb(10, 10, 101);
  color: white;
  padding: 16px;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-content {
  font-size: 14px;
  color: #333333;
}

.card-footer {
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.card-footer a {
  text-decoration: none;
}

.card-footer a:hover {
  text-decoration: underline;
}

.add-card {
  background-color: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow: hidden;
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card:hover, .add-card:hover {
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.card-icons {
  display: flex;
  gap: 10px;
}